.section {
    background-color: #4A75FC;
}

/* 菜单 */
header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    margin-left: 24px;
    padding: 0 24px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    font-size: 28px;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

.contact {
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 700;
}

#menu li {
    color: #fff;
}

#menu li:hover {
    color: #07da07;
}

#menu li.active,
#menu li.active:hover {
    color: #07da07;
}

#menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 9px 24px;
}

#menu li.active a,
#menu li.active:hover a:hover {
    color: #07da07;
}

/* 背景色 */
.fp-section:nth-child(1) {
    background-image: linear-gradient(128deg, #c850c0, #4158d0);
}

.fp-section:nth-child(2) {
    background-image: linear-gradient(128deg, #ff9a3f, #ff4b40);
}

.fp-section:nth-child(3) {
    background-image: linear-gradient(128deg, #00f1f1, #2165ca);
}

.fp-section:nth-child(4) {
    background-image: linear-gradient(128deg, #fad0c4, #ff9d7e);
}