@font-face {
    font-family: slh;
    src: url('../font/slh.ttf');
}

.section{
    font-family: slh;
    background-color: #1e131d;
}

.fp-overflow{
    width: 100%;
    height: 100%;
}

.index .topmenu{
    width: 100%;
    height: 8%;
    display: flex;
    color: #fff;
}

.topmenu .left{
    width: 30%;
    font-size: 48px;
    font-weight: bold;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.topmenu .right{
    width: 70%;
    font-size: 24px;
    display: flex;
}

.right .menu{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right .menu .item{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right .menu .item:hover{
    color: #20a162;
    text-shadow:0 0 10px #8cc269,0 0 20px #8cc269,0 0 30px #8cc269;
}

.right .icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index .box{
    width: 100%;
    height: 92%;
    display: flex;
}

.box .font{
    width: 40%;
    height: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #E0E0E0;
    font-size: 14px;
}

.font div{
    margin: 5px 0 10px;
}

.font .title{
    font-size: 50px;
    color:#fff;
    font-weight: bold;
}

.box .skills{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .border{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px #1070ca dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.border .content{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #1070ca;
}

.border .card{
    width: 180px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    padding: 0 10px;
}

.card .title{
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #b8b8b8;
    font-size: 16px;
}

.card .item{
    height: 175px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.process{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.process .type{
    width: 50px;
}
.process .bkg{
    width: 120px;
    height: 5px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, .2);
}
.process .bkg .light{
    height: 5px;
    border-radius: 9px;
}